{% extends "layout.html" %} {% block body %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='assets/img/about-bg.jpg') }}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h2>Welcome to Code Thunders!</h2>
        <p>
          Hello, tech enthusiasts! My name is Hiten Shah, and I'm thrilled to
          welcome you to Code Thunders, your go-to blog for all things tech. As
          a 17-year-old student pursuing a Diploma in Computer Technology, my
          curiosity to learn new things drives me to explore the ever-evolving
          world of technology and share my discoveries with you.
        </p>
        <p>
          At Code Thunders, you can expect insightful and engaging blogs that
          cover the latest trends, innovations, and breakthroughs in the tech
          industry. Whether you're a seasoned tech aficionado or just starting
          your journey, there's something here for everyone.
        </p>
        <p>
          My mission is to make Code Thunders the biggest tech blog page, a hub
          where tech enthusiasts like you can find valuable information, tips,
          and inspiration. Together, we'll dive into the fascinating world of
          technology, staying updated and informed about the tools and
          developments shaping our future.
        </p>
        <p>
          Thank you for joining me on this exciting journey. Stay curious, stay
          tech-savvy, and let's make Code Thunders the ultimate destination for
          tech lovers everywhere!
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
